.cardList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ffc500;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #7f0909;
  list-style: none;
  margin: 15px;
  height: 300px;
  width: 230px;
  transition: all ease 0.5s;
  text-decoration: none;
  padding: 15px;

  &:hover {
    border: solid #7f0909 3px;
    background-color: #ffc500;
    box-shadow: 5px 5px 10px #ffc500;
    transform: translate(-3px, -3px);
  }
}

.list__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 50px;

  @media all and (max-width: 390px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  @media all and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
