.cardDetail {
  text-decoration: none;
  &__container {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
    margin: auto;

    &--btn {
      width: 80px;
      height: 40px;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 30px;
      text-decoration: none;
      background-color: #ffc500;
      border-color: #7f0909;
      color: #7f0909;
      padding: 7px;
      margin-top: 15px;

      &:hover {
        background-color: #aa9039;
        box-shadow: 5px 5px 10px #d8c27b;
        transform: translate(-10px);
      }
    }
    @media all and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__article {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #7f0909;
    padding: 20px;
    background-color: #7f0909;
    border-radius: 10px;

    @media (max-width: 360px) {
      flex-direction: row;
    }

    &--photo {
      display: flex;
      flex-direction: column-reverse;
      height: 450px;
      width: 300px;
      border-bottom: 3px solid #ffc500;
      border-radius: 10px;

      @media (max-width: 360px) {
        height: 280px;
        width: 150px;
      }
    }

    &--description {
      list-style: none;
      color: burlywood;
      margin: 3px 10px;
    }
  }
}

.heart {
  transform: scale(2);
  color: rgb(250, 207, 246);
  margin: 8px;
}

.skull {
  transform: scale(2);
  color: black;
  margin: 8px;
}

.unknown {
  transform: scale(2);
  color: black;
  margin: 8px;
}

.shield {
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  position: absolute;
  transform: translateX(350px);
}

.card_title {
  font-size: 32px;
  margin-bottom: 30px;
}
