.cardDetail {
  &__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 80vh;
    width: 80%;
    margin: auto;
    text-decoration: none;
    list-style: none;

    @media (min-width: 768px) {
      padding: 50px 50px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      height: 100vh;
      margin: auto;
      text-decoration: none;
      list-style: none;
    }

    &--btn {
      width: 80px;
      height: 40px;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 30px;
      text-decoration: none;
      background-color: rgb(70, 64, 64);
      border-color: #7f0909;
      color: #e6d9d9;
      padding: 7px;
      margin-top: 15px;
      font-weight: bold;

      &:hover {
        background-color: #af8a11;
        box-shadow: 5px 5px 10px #7f0909;
        transform: translate(-10px);
        color: #7f0909;
      }
    }
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #7f0909;
    padding: 20px;
    background-color: #7f0909;
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
    margin-top: 60px;

    @media (min-width: 768px) {
      flex-direction: row;
      // margin-top: 100px;
    }

    &--photo {
      display: flex;
      flex-direction: column-reverse;
      height: 400px;
      width: 280px;
      border-bottom: 3px solid #ffc500;
      border-radius: 10px;
      list-style: none;
      text-decoration: none;

      @media (max-width: 360px) {
        height: 280px;
        width: 150px;
      }
    }

    &--description {
      list-style: none;
      color: burlywood;
      margin: 3px 10px;
      text-decoration: none;
    }
  }
}

.heart {
  transform: scale(2);
  color: rgb(250, 207, 246);
  margin: 8px;
}

.skull {
  transform: scale(2);
  color: black;
  margin: 8px;
}

.unknown {
  transform: scale(2);
  color: black;
  margin: 8px;
}

.shield {
  background-color: rgb(255, 230, 0);
  height: 80px;
  width: 80px;
  border-radius: 50px;
  // position: absolute;

  // transform: translateX(-50px);

  @media (min-width: 768px) {
    // transform: translateX(-200px);
    // transform: translatey(80px);
    height: 100px;
    width: 100px;
  }

  @media (min-width: 1200px) {
    transform: translateX(350px);
  }
}

.card_title {
  font-size: 32px;
  margin-bottom: 30px;
}
