body {
  background-color: rgb(82, 73, 73);
  height: 100vh;
  width: 100%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  margin-top: 20px;
  text-align: start;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  padding: 10px;

  &__input {
    display: flex;
    flex-direction: column;
  }
  &__input--text {
    margin-bottom: 7px;
    width: 200px;
    height: 25px;
    border: solid 3px orange;
    padding: 7px;
    border-radius: 2px;
    color: rgb(59, 50, 50);
    background-color: rgb(168, 154, 101);
    ::placeholder {
      color: orange;
    }
    ::value {
      color: orange;
    }
  }

  &__label--select {
    margin: 7px 0px 12px 0px;
    border: solid 3px orange;
    padding: 7px;
    border-radius: 2px;
    color: rgb(59, 53, 53);
    width: 180px;
    height: 10px;
    background-color: rgb(168, 154, 101);

    ::value {
      color: rgb(122, 88, 25);
    }
  }

  &__btnReset {
    width: 70px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 1px rgb(122, 88, 25);
    background-color: rgb(85, 40, 29);
    color: whitesmoke;
    margin-top: 10px;
    margin: auto;
  }
}

.Not_found {
  text-decoration: none;
  color: #f0e7e7;
}

.fas fa-chevron-double-left {
  color: #f0e7e7;
}
.not_found_message {
  color: antiquewhite;
}

.Link {
  text-decoration: none;
}
