@font-face {
  font-family: "HARRYP";
  src: url(../../fonts/HARRYP.TTF);
}

body {
  background-color: rgb(82, 73, 73);
  height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  text-align: start;
  flex-direction: column;
  align-items: flex-start;
  font-size: 32px;
  padding: 10px;
  font-family: "HARRYP";

  &__input {
    display: flex;
    flex-direction: column;
  }
  &__input--text {
    margin-bottom: 7px;
    margin: 30px;
    width: 200px;
    height: 40px;
    border: solid 3px orange;
    padding: 7px;
    border-radius: 2px;
    color: rgb(59, 50, 50);
    background-color: rgb(168, 154, 101);
    font-family: "HARRYP";
    font-size: 14px;
    cursor: pointer;
    ::placeholder {
      color: orange;
    }
    ::value {
      color: rgb(31, 30, 28);
    }
  }

  &__label--select {
    margin: 30px;
    border: solid 3px orange;
    padding: 7px;
    font-family: "HARRYP";
    font-size: 14px;
    cursor: pointer;
    color: rgb(204, 75, 75);
    width: 180px;
    height: 20px;
    background-color: rgb(168, 154, 101);
    ::placeholder {
      color: orange;
    }

    ::value {
      color: rgb(122, 88, 25);
    }
  }

  &__btnReset {
    width: 70px;
    height: 30px;
    border-radius: 30px;
    box-shadow: 1px rgb(122, 88, 25);
    background-color: rgb(85, 40, 29);
    color: whitesmoke;
    margin-top: 16px;
    margin: auto;
    font-family: "HARRYP";
    font-size: 23px;
    cursor: pointer;

    &:hover {
      background-color: #af8a11;
      box-shadow: 3px 3px 10px #7f0909;
      transform: translatey(-2px);
      color: #7f0909;
    }
  }
}

.Not_found {
  text-decoration: none;
  color: #f0e7e7;
}

.fas fa-chevron-double-left {
  color: #f0e7e7;
}
.not_found_message {
  color: antiquewhite;
  font-family: "HARRYP";
  font-size: 32px;
  margin: auto;
}

.Link {
  text-decoration: none;
}
