/* .form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1rem;
  box-sizing: border-box;
}

.resetButton {
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  border: 2px solid orange;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 0.6rem;
  height: 2.3rem;
}

.card__list {
  margin: 30px 50px 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.img {
  height: 200px;
  width: 180px;
} */
